<!-- <div class = "account"> -->
<h3>Hello {{firstName}}!!!</h3> 
	<!-- ul is unordered list bullet points, ol ordered list numbered -->
	<ul>
		{{#each dnaStrands}}
			<li>
				<a href = /../dna/{{slug}}>{{dnaName}}</a>
			</li>
		{{/each}}
	</ul>

	<br />
	<a href = "/../add">Add new DNA</a>

</div>
