<!-- <div class = "dna"> -->
<h3>{{dnaName}} Information</h3> 
	<ul>
		DNA sequence is : {{dnaSeq}}
	</ul>
	<br />

<input type="button" class = "btn" value="Back to List" onClick="history.go(-1);">
	
<!-- <a href = /../account/{{userSlug}}>Return To User!</a> -->
