<h1></h1>
<p>{{title}}</p>


<img src = "/images/dna.jpg">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>


<script>
{{#if noFade}}
	{{#if noUser}}
		alert("User does not exist!");
	{{/if}}
	{{#if wrongPass}}
		alert("Wrong Password!");
	{{/if}}
{{else}}
    $(document).ready(function() {
    	$("body").css("display", "none");
    	$("body").fadeIn(1500);
    });
{{/if}}
</script>
