<h1></h1>
<p>{{title}}</p>


<script> //client side
	setTimeout(function(){ //wait abit before moving to login page 	
  		window.location.replace("http://localhost:3000/login");
  	}, 1000);
</script>