<!DOCTYPE html>
<html>
  <head>
    <title><center>>{{title}}</center></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <center>
	<h1>DNA Imaging </h1>
    {{{body}}}
  </center>
  </body>
</html>
