<div class = "login">
<div class = "form">
<h3>Login </h3>

<form method = "POST" action = "">

Username
<input type = "user" name = "userName">
Password
<input type = "pass" name = "passWord" id = "password">
<input type = "submit" class = "button" value = "login">

</form>

<div class = "register">
<a href = "/../register">Register</a>
</div></div>
