<div class = "login">
<div class = "form">
<h3>Login </h3>

<form method = "POST" action = "">

Username
<input type = "text" name = "userName" placeholder= "Username">
Password
<input type = "password" name = "passWord" id = "pass_word" placeholder = "Password">
<input type = "submit" class = "button" value = "login">
<!--comment: value is optionally set to default value fo field to handle this data from req. body you need body-parser-->
</form>

<div class = "register">
<a href = "/../register">Register</a>
</div></div>