<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
<script>
//	$(document).ready(function() {
//   		alert('hi');
//	});
    $(document).ready(function() {
        $("body").css("display", "none");
        $("body").fadeIn(2000);
    });
</script>


<form class = "form-container" method = "POST" action = "" onsubmit = "return validateForm();">
<div class="form-title"><h2>Login</h2></div>

<div class="form-title">Username</div>
<input class = "form-field" type = "text" name = "userName" id = "user_name" required /><br />

<div class="form-title">Password</div>
<input class = "form-field" type = "password" name = "passWord" id = "pass_word" required /><br />

<div class="submit-container">
<input class = "btn" type = "submit" value = "Submit" />
<!--comment: value is optionally set to default value fo field to handle this data from req. body you need body-parser-->
</div>

</form>
</div></div>

<br />

<div class = "register">
<a href = "/../register">Register</a>


<script>
{{#if noUser}}
	alert("User does not exist!");
{{/if}}
{{#if wrongPass}}
	alert("Wrong Password!");
{{/if}}
</script>

